# Extracción Transformación y Carga (ETL)

### Fuente de datos:
+ [DataSet de Google Maps !!!](https://drive.google.com/drive/folders/1Wf7YkxA0aHI3GpoHc9Nh8_scf5BbD4DA?usp=drive_link):  Google Drive Henry.

+ [DataSet de Yelp !!!](https://drive.google.com/drive/folders/1TI-SsMnZsNP6t930olEEWbBQdo_yuIZF?usp=drive_link):  Google Drive Henry..
<br/>
- - -

Importando Librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from datetime import datetime, timedelta
import random
from scipy.stats import norm

import ast
import json
import os                       # Libreria para manejo de arhivos y directorios del sistema
import glob                     # crear listas de archivos a partir de búsquedas con comodines en un directorio
import pyarrow as pa
import jsonlines                # Permite procesar un registro por vez
import pyarrow.parquet as pq    # Permite leer archivos en formato parquet
import pickle5 as pickle        # Permite leer archivos con formatp pkl, para archivos version 5

- - -
### Funciones generales

Funcion que permite buscar archivos en un directorio segun un filtro deseado

In [2]:
# Recibe el directorio a trabajar y el patron o filtro que se desea mostrar.

def listar_archivos_segun_patron_con_directorio(directorio, patron):
    return glob.glob(directorio + patron)

- - -
+ DataSet de Yelp !!!
- - -

`Datasets: checkin`

Tipo de archivo JSon

Procedimieto que permite separar el dataset checkin en 1 archivos tipo JSon.<br>
El datasets checkin tiene aproximadamente: 131.930 registros, por tamaño del archivo debe ser separado para que pueda ser subido al repositorio.<br>
131930 // 2 aproximadamente 65965<br>
Se abre el archivo JSon y se salva tipo parquet con la misma cantidad de registros.

In [5]:
archivo_checkin_json = "../Datasets/Datasets_Yelp/checkin/checkin.json"
cantidad_registros = 65965                                                      # Cantidad de registros por archivos
with jsonlines.open(archivo_checkin_json) as reader:
    lista_datos = list(reader)                                                  # Lee todos los registros y crea una lista
    total_registros = len(lista_datos)                                          # Se tiene el total de registros, esto para separar en varios archivos.
    for ind in range(0, total_registros, cantidad_registros):
        iformacion_registros = lista_datos[ind:ind+cantidad_registros]          # Se extrae grupos de cantidad_registros registros
        df = pd.DataFrame(iformacion_registros)                                 # Se crea un dataframe con el grupo de registros extraidos
        table = pa.Table.from_pandas(df)                                        # Se crea una tabla tipo pyarrow del dataframe para guardarlo en archivos separados.
        nombre_archivo = "checkin_" + str(ind//cantidad_registros) + ".parquet" # Se arma el nombre del archivo
        ruta_archivo = os.path.join('../Datasets/Datasets_Yelp/checkin/', nombre_archivo)    # La ruta donde se guardara el archivo
        pq.write_table(table, ruta_archivo)                                     # Se escribe en el directorio

Se cargan los datasets que contienen grupos de registros ya separados.

In [28]:
directorio = "../Datasets/Datasets_Yelp/checkin/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "checkin_*.parquet")
df_list = []                                    # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                      # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_user = pq.read_table(source=archivo)  # Se crea una tabla con cada archivo
    df = tabla_user.to_pandas()                 # Se transforma la tabla en un dataframe
    df_list.append(df)                          # Se adicionan a los dataframe
df_checkin_concatenado = pd.concat(df_list)     # Se concatenan todos los DataFrames en uno solo
df_checkin_concatenado = df_checkin_concatenado.reset_index(drop=True)    # Se resetea el indice a uno secuencial y consecutivo

In [29]:
df_checkin_concatenado.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [30]:
df_checkin_concatenado.shape

(131930, 2)

Diccionario del dataset checkin

| # | Column | Dtype | RealType |
| --------- | --------- | --------- | --------- |
| 0 | business_id | object | string |
| 3 | date | float64 | list date YYYY-MM-DD |

Para su manipulacion se reduce el dataset a 5 años de registros y se ajustan los campos:<br> 
. date al formato: YYYY-MM-DD<br>

In [27]:
print('Datos iniciales desde: ', df_checkin_concatenado['date'].min(), 'hasta: ',df_checkin_concatenado['date'].max())
# df_tip_concatenado['date'] = pd.to_datetime(df_tip_concatenado['date'])
# df_tip_2018_to_2022 = df_tip_concatenado[df_tip_concatenado['date'].dt.year.between(2018, 2022)]
# df_tip_2018_to_2022 = df_tip_2018_to_2022.reset_index(drop=True)
# df_tip_2018_to_2022['date'] = pd.to_datetime(df_tip_2018_to_2022['date']).dt.strftime('%Y-%m-%d')
# print('Datos finales desde: ', df_tip_2018_to_2022['date'].min(), 'hasta: ',df_tip_2018_to_2022['date'].max())

Datos iniciales desde:  2009-12-30 02:53:27, 2010-02-11 18:43:45, 2010-04-25 03:57:16, 2010-08-07 01:59:21, 2010-09-27 23:11:18, 2010-10-01 23:16:35, 2010-10-14 03:05:41, 2010-10-15 14:41:50, 2010-10-16 13:02:26, 2010-10-23 23:30:18, 2010-11-14 16:44:16, 2010-11-26 18:14:29, 2010-11-27 16:12:46, 2010-12-01 12:30:33, 2010-12-20 21:11:15, 2011-01-21 23:19:57, 2011-02-02 16:30:10, 2011-02-05 03:00:15, 2011-02-05 03:52:29, 2011-03-13 17:52:54, 2011-03-15 22:22:34, 2011-04-08 16:21:27, 2011-04-09 17:04:31, 2011-05-14 17:17:47, 2011-05-14 17:18:35, 2011-05-14 17:18:37, 2011-05-15 03:02:25, 2011-06-05 22:58:18, 2011-06-14 23:52:02, 2011-07-24 17:03:19, 2011-07-28 15:25:57, 2011-07-30 14:33:13, 2011-07-30 14:42:04, 2011-08-06 05:16:21, 2011-08-18 05:05:33, 2011-08-29 00:40:44, 2011-10-13 20:40:52, 2011-10-29 10:41:31, 2011-11-02 16:11:44, 2011-11-02 16:11:58, 2011-11-03 16:30:57, 2011-11-06 05:11:24, 2011-11-06 15:02:36, 2011-11-07 18:33:14, 2011-11-12 19:46:30, 2011-11-13 14:25:42, 2011-11-13 14:28:10, 2011-11-16 23:50:05, 2011-11-20 04:39:42, 2011-11-25 15:32:12, 2011-11-27 04:43:00, 2011-12-02 05:51:13, 2011-12-03 18:38:07, 2011-12-06 17:25:40, 2011-12-08 04:47:39, 2011-12-28 00:04:08, 2012-01-07 15:25:22, 2012-01-07 15:28:55, 2012-01-07 18:48:24, 2012-01-16 00:58:41, 2012-01-21 23:58:54, 2012-01-29 20:38:04, 2012-01-29 23:53:56, 2012-02-03 03:39:13, 2012-02-04 08:17:04, 2012-02-04 23:05:52, 2012-02-28 05:20:38, 2012-03-03 17:30:34, 2012-03-04 18:24:21, 2012-03-09 06:25:00, 2012-03-10 02:40:49, 2012-03-10 12:26:26, 2012-03-10 21:56:13, 2012-03-12 15:54:35, 2012-03-15 12:38:43, 2012-03-24 04:33:02, 2012-04-01 15:28:24, 2012-04-08 03:38:03, 2012-04-13 16:30:24, 2012-04-14 01:02:39, 2012-04-14 14:48:33, 2012-04-14 22:03:58, 2012-04-15 10:08:20, 2012-05-05 14:10:16, 2012-05-06 10:34:54, 2012-05-12 22:08:03, 2012-05-18 23:58:07, 2012-05-19 14:48:38, 2012-05-20 17:04:09, 2012-05-25 11:45:39, 2012-05-28 11:13:08, 2012-05-28 11:37:49, 2012-06-04 03:00:56, 2012-06-09 12:25:30, 2012-06-09 15:22:41, 2012-06-09 22:36:25, 2012-06-09 23:36:46, 2012-06-09 23:40:08, 2012-06-14 22:42:00, 2012-06-21 15:43:15, 2012-06-24 00:26:50, 2012-06-29 05:09:07, 2012-07-05 10:45:27, 2012-07-07 13:03:10, 2012-07-08 21:22:13, 2012-07-11 11:14:20, 2012-07-13 17:17:39, 2012-07-16 10:53:43, 2012-08-01 15:58:02, 2012-08-05 10:32:05, 2012-08-11 13:19:53, 2012-08-12 16:07:08, 2012-08-21 01:17:33, 2012-08-26 16:09:58, 2012-08-27 00:46:43, 2012-08-27 00:53:28, 2012-08-27 00:56:04, 2012-08-31 15:53:13, 2012-09-03 10:44:06, 2012-09-12 02:14:12, 2012-09-13 16:12:44, 2012-09-13 16:13:33, 2012-09-19 19:10:00, 2012-09-23 16:43:23, 2012-09-26 00:07:45, 2012-09-28 08:44:12, 2012-10-06 14:18:34, 2012-10-22 21:53:47, 2012-10-28 19:40:24, 2012-10-29 10:29:53, 2012-11-03 04:09:46, 2012-11-03 04:10:45, 2012-11-03 13:55:28, 2012-11-11 02:25:50, 2012-11-11 11:40:32, 2012-11-18 11:58:50, 2012-11-22 11:20:37, 2012-11-30 14:31:51, 2012-12-01 10:38:13, 2012-12-02 05:01:40, 2012-12-06 06:51:42, 2012-12-08 16:21:32, 2012-12-08 16:29:38, 2012-12-09 19:35:27, 2012-12-15 12:08:22, 2012-12-16 21:30:50, 2012-12-17 11:55:01, 2012-12-19 12:10:16, 2012-12-21 12:26:34, 2012-12-27 17:50:37, 2012-12-28 03:28:37, 2012-12-28 04:54:36, 2012-12-31 16:00:45, 2013-01-09 00:01:07, 2013-01-12 12:04:11, 2013-01-13 11:32:53, 2013-01-19 18:35:35, 2013-01-20 12:56:20, 2013-01-24 10:35:35, 2013-01-28 21:57:43, 2013-02-03 17:06:23, 2013-02-05 10:42:10, 2013-02-09 11:36:36, 2013-02-09 22:44:25, 2013-02-10 15:56:17, 2013-02-13 00:04:05, 2013-02-16 18:40:18, 2013-02-17 11:27:42, 2013-02-19 15:22:04, 2013-02-22 10:53:21, 2013-02-24 01:41:43, 2013-02-24 02:02:35, 2013-02-26 12:18:50, 2013-03-03 00:13:35, 2013-03-03 16:09:01, 2013-03-05 13:16:41, 2013-03-10 18:31:34, 2013-03-17 07:19:44, 2013-03-17 11:16:57, 2013-03-22 10:23:23, 2013-03-23 16:21:09, 2013-03-23 17:28:29, 2013-03-26 13:24:17, 2013-03-26 17:27:39, 2013-03-30 14:55:48, 2013-03-31 18:13:29, 2013-04-07 10:43:25, 2013-04-09 00:11:06, 2013-04-10 12:29:14, 2013-04-25 03:31:51, 2013-05-05 05:21:22, 2013-05-08 10:13:55, 2013-05-12 14:27:30, 2013-05-14 09:40:42, 2013-05-24 09:50:15, 2013-05-26 05:03:33, 2013-05-26 05:10:36, 2013-05-26 11:26:34, 2013-05-27 10:41:03, 2013-05-28 01:14:46, 2013-05-29 13:03:00, 2013-06-02 17:21:59, 2013-06-02 17:23:41, 2013-06-04 09:40:37, 2013-06-06 09:35:04, 2013-06-11 10:11:10, 2013-06-24 23:04:48, 2013-06-25 09:59:38, 2013-07-05 13:32:50, 2013-07-07 16:19:57, 2013-07-08 22:31:44, 2013-07-09 12:29:57, 2013-07-14 01:59:32, 2013-07-15 13:24:57, 2013-07-20 13:37:27, 2013-07-20 13:51:44, 2013-07-21 10:18:22, 2013-07-25 03:15:49, 2013-08-07 13:06:55, 2013-08-08 23:34:36, 2013-08-10 13:46:38, 2013-08-11 00:02:10, 2013-08-17 18:47:25, 2013-08-20 18:09:48, 2013-08-21 16:40:04, 2013-08-24 07:07:04, 2013-08-25 17:26:34, 2013-08-26 04:22:05, 2013-08-31 04:12:01, 2013-08-31 16:43:25, 2013-09-04 16:33:48, 2013-09-04 21:50:26, 2013-09-05 13:42:14, 2013-09-13 00:34:05, 2013-09-14 14:17:07, 2013-09-19 12:37:44, 2013-09-23 03:58:46, 2013-09-27 01:25:41, 2013-09-28 14:32:00, 2013-10-02 23:59:32, 2013-10-06 02:26:28, 2013-10-11 11:39:19, 2013-10-19 23:05:25, 2013-10-19 23:05:27, 2013-10-19 23:06:59, 2013-10-25 17:06:33, 2013-10-27 03:50:28, 2013-10-31 03:50:22, 2013-11-09 00:30:46, 2013-11-09 16:17:59, 2013-11-09 17:15:27, 2013-11-15 23:35:30, 2013-11-16 05:39:19, 2013-11-16 14:51:48, 2013-11-17 15:51:24, 2013-11-18 01:16:09, 2013-11-24 18:13:16, 2013-11-28 16:14:39, 2013-12-06 21:38:57, 2013-12-13 04:38:42, 2013-12-14 00:05:13, 2013-12-14 03:45:51, 2013-12-17 17:25:28, 2013-12-19 02:05:44, 2013-12-22 17:19:41, 2013-12-26 17:59:13, 2013-12-27 02:47:39, 2013-12-28 03:23:33, 2014-01-01 16:45:24, 2014-01-03 21:56:05, 2014-01-04 16:26:21, 2014-01-05 14:01:19, 2014-01-12 02:35:26, 2014-01-16 17:13:18, 2014-01-26 15:37:27, 2014-01-27 15:54:16, 2014-01-31 01:05:25, 2014-02-07 19:54:03, 2014-02-12 02:54:47, 2014-02-15 05:16:09, 2014-02-15 17:14:43, 2014-02-22 18:26:44, 2014-02-26 17:41:21, 2014-03-04 16:53:49, 2014-03-14 03:53:18, 2014-03-18 01:47:40, 2014-03-21 16:22:34, 2014-03-27 22:14:15, 2014-03-29 20:36:07, 2014-03-30 13:17:03, 2014-04-13 14:03:17, 2014-04-18 02:55:04, 2014-04-20 19:49:54, 2014-04-22 11:40:27, 2014-04-29 13:50:13, 2014-05-03 18:30:09, 2014-05-10 02:42:03, 2014-05-18 15:41:08, 2014-05-20 19:08:05, 2014-05-22 20:01:06, 2014-05-28 19:31:42, 2014-05-31 16:07:48, 2014-06-02 12:54:29, 2014-06-03 19:25:08, 2014-06-05 13:13:15, 2014-06-07 14:48:14, 2014-06-08 15:21:54, 2014-06-09 12:51:44, 2014-06-18 15:59:22, 2014-06-20 03:15:48, 2014-06-22 00:58:43, 2014-06-23 12:52:19, 2014-06-24 13:02:15, 2014-06-29 13:39:40, 2014-06-30 16:06:54, 2014-07-08 14:00:36, 2014-07-13 14:30:43, 2014-07-14 13:02:11, 2014-07-17 13:18:03, 2014-07-22 12:49:23, 2014-08-02 03:28:47, 2014-08-03 14:55:45, 2014-08-04 13:00:05, 2014-08-04 16:53:11, 2014-08-05 07:04:48, 2014-08-11 12:54:23, 2014-08-16 01:48:37, 2014-08-25 11:34:26, 2014-08-30 21:19:57, 2014-09-14 14:30:30, 2014-09-20 18:58:55, 2014-09-22 11:34:31, 2014-09-27 22:04:14, 2014-09-27 22:08:50, 2014-09-27 22:50:52, 2014-10-04 13:31:09, 2014-10-05 22:09:44, 2014-10-05 22:10:05, 2014-10-06 13:39:14, 2014-10-11 15:14:20, 2014-10-13 14:43:53, 2014-10-18 04:17:10, 2014-10-19 15:06:10, 2014-10-26 13:18:55, 2014-10-26 14:13:17, 2014-10-26 22:01:29, 2014-10-26 22:02:36, 2014-11-01 15:16:57, 2014-11-02 17:19:10, 2014-11-02 17:20:30, 2014-11-05 14:33:11, 2014-11-08 13:51:34, 2014-11-09 22:30:32, 2014-11-09 22:30:33, 2014-11-16 05:50:23, 2014-11-16 19:27:55, 2014-11-16 19:28:05, 2014-11-16 19:57:00, 2014-11-17 12:37:41, 2014-11-22 23:20:12, 2014-11-22 23:21:45, 2014-11-23 17:37:45, 2014-11-28 18:56:58, 2014-11-29 21:59:37, 2014-12-01 00:15:38, 2014-12-05 19:47:28, 2014-12-06 20:51:47, 2014-12-07 21:05:13, 2014-12-08 04:53:03, 2014-12-13 20:42:48, 2014-12-13 20:50:52, 2014-12-20 16:53:00, 2014-12-21 21:17:44, 2014-12-21 21:19:14, 2014-12-21 23:20:23, 2014-12-23 17:35:12, 2015-01-06 01:21:04, 2015-01-11 04:01:22, 2015-01-23 02:40:07, 2015-01-24 14:24:14, 2015-01-24 22:41:31, 2015-01-26 12:36:30, 2015-02-14 03:26:14, 2015-02-16 00:05:28, 2015-02-16 04:53:30, 2015-02-19 14:33:35, 2015-02-21 02:42:22, 2015-02-21 17:54:20, 2015-02-21 17:57:32, 2015-02-21 18:30:41, 2015-02-22 16:44:00, 2015-02-26 17:35:38, 2015-02-27 02:39:38, 2015-03-05 01:49:19, 2015-03-08 18:27:03, 2015-03-08 22:07:31, 2015-03-08 22:09:05, 2015-03-10 12:28:09, 2015-03-14 02:19:44, 2015-03-15 15:35:12, 2015-03-22 01:52:54, 2015-03-22 05:10:36, 2015-03-24 01:13:26, 2015-03-26 17:10:12, 2015-03-28 21:00:05, 2015-03-31 11:57:22, 2015-04-01 23:17:23, 2015-04-03 12:52:31, 2015-04-11 23:48:56, 2015-04-11 23:52:17, 2015-04-12 20:32:00, 2015-04-12 20:33:05, 2015-04-22 23:50:01, 2015-05-02 04:06:05, 2015-05-16 15:35:15, 2015-05-25 16:26:44, 2015-05-25 16:27:03, 2015-05-26 17:24:05, 2015-05-26 19:28:52, 2015-05-30 14:03:18, 2015-06-07 23:28:03, 2015-06-14 14:50:31, 2015-06-27 07:38:27, 2015-06-28 15:44:20, 2015-07-01 22:21:42, 2015-07-07 13:28:09, 2015-07-12 20:01:22, 2015-07-25 21:58:26, 2015-07-26 22:40:24, 2015-08-08 16:40:12, 2015-08-08 21:56:18, 2015-08-19 22:08:17, 2015-08-23 22:17:35, 2015-08-23 22:18:13, 2015-09-06 13:43:34, 2015-09-12 17:28:54, 2015-09-12 23:43:28, 2015-09-13 00:34:02, 2015-09-27 14:03:19, 2015-09-27 16:42:07, 2015-09-27 16:43:06, 2015-10-03 00:16:17, 2015-10-03 18:04:00, 2015-10-04 18:55:05, 2015-10-04 18:59:18, 2015-10-18 03:29:35, 2015-10-25 18:42:54, 2015-10-25 18:43:06, 2015-10-29 00:14:53, 2015-10-29 22:08:50, 2015-10-31 15:05:04, 2015-11-01 17:46:27, 2015-11-01 17:46:40, 2015-11-08 14:47:11, 2015-11-08 14:47:35, 2015-11-10 14:17:06, 2015-11-22 04:28:22, 2015-11-22 15:56:15, 2015-11-22 16:33:58, 2015-12-13 17:03:11, 2015-12-14 02:00:54, 2015-12-15 14:18:09, 2015-12-16 13:24:59, 2015-12-20 19:59:21, 2015-12-20 19:59:40, 2016-01-02 19:00:36, 2016-01-09 21:20:27, 2016-01-15 17:35:36, 2016-01-18 17:50:18, 2016-01-18 17:51:06, 2016-01-18 18:21:38, 2016-01-24 17:16:38, 2016-02-10 19:28:16, 2016-02-14 21:10:25, 2016-02-14 21:10:58, 2016-02-21 00:55:52, 2016-02-21 18:19:49, 2016-02-21 18:20:35, 2016-02-27 05:17:34, 2016-02-27 15:04:05, 2016-02-27 15:14:58, 2016-02-27 23:17:03, 2016-02-28 00:56:55, 2016-03-04 13:31:15, 2016-03-21 05:01:31, 2016-03-27 21:54:41, 2016-04-13 16:45:49, 2016-04-17 16:02:37, 2016-04-23 21:53:08, 2016-04-30 18:36:23, 2016-05-07 14:37:41, 2016-05-08 17:37:13, 2016-05-16 17:49:33, 2016-05-18 15:49:05, 2016-05-22 14:45:39, 2016-05-27 12:28:41, 2016-05-30 17:42:26, 2016-06-23 00:11:43, 2016-06-26 12:53:22, 2016-06-26 19:41:02, 2016-07-03 15:26:32, 2016-07-09 16:43:07, 2016-07-21 16:07:36, 2016-07-24 16:05:50, 2016-08-07 18:34:29, 2016-08-18 11:58:11, 2016-08-20 17:42:56, 2016-08-28 11:17:37, 2016-09-25 17:46:16, 2016-09-30 16:39:02, 2016-10-13 16:15:42, 2016-10-22 23:45:08, 2016-10-27 14:11:20, 2016-10-28 18:25:45, 2016-11-07 16:39:00, 2016-11-09 17:42:14, 2016-11-13 17:18:27, 2016-11-20 16:43:12, 2016-12-01 04:12:37, 2016-12-02 01:30:09, 2016-12-06 17:09:01, 2016-12-15 15:32:33, 2016-12-29 03:15:18, 2017-01-07 16:11:48, 2017-01-20 17:10:07, 2017-01-22 04:19:20, 2017-01-24 08:35:11, 2017-02-02 22:39:24, 2017-02-05 16:52:19, 2017-02-12 15:47:34, 2017-02-13 00:30:01, 2017-02-16 16:47:20, 2017-02-18 16:07:30, 2017-03-02 01:33:37, 2017-03-05 02:32:14, 2017-03-18 15:22:35, 2017-03-24 16:09:07, 2017-03-25 18:17:09, 2017-04-06 01:25:55, 2017-04-06 16:07:40, 2017-05-14 14:47:12, 2017-05-14 20:21:08, 2017-05-31 23:29:58, 2017-06-01 00:07:16, 2017-06-11 17:01:10, 2017-06-12 21:23:27, 2017-06-14 20:57:20, 2017-06-17 13:12:20, 2017-06-18 16:09:49, 2017-06-23 22:22:14, 2017-07-06 18:02:18, 2017-07-08 20:15:28, 2017-07-13 22:15:59, 2017-07-14 16:48:52, 2017-07-16 17:19:55, 2017-07-16 17:57:22, 2017-07-23 16:05:45, 2017-08-02 12:23:33, 2017-08-19 15:47:05, 2017-09-01 19:17:59, 2017-09-03 04:07:26, 2017-09-03 15:04:40, 2017-10-07 21:23:53, 2017-10-20 23:36:37, 2017-10-22 02:53:17, 2017-10-22 13:56:01, 2017-10-24 15:58:57, 2017-10-29 16:03:27, 2017-11-07 17:38:05, 2017-11-23 00:39:03, 2017-11-25 03:40:34, 2017-11-25 17:50:05, 2017-12-03 21:55:33, 2017-12-16 08:43:14, 2017-12-24 15:08:38, 2017-12-27 17:53:56, 2018-01-07 21:30:38, 2018-01-12 00:14:57, 2018-01-23 00:49:33, 2018-01-28 13:33:37, 2018-01-30 15:37:35, 2018-01-30 17:34:58, 2018-03-03 22:16:06, 2018-03-10 16:47:37, 2018-03-11 00:15:30, 2018-03-21 14:23:17, 2018-03-24 14:35:25, 2018-04-07 14:35:46, 2018-04-08 00:08:36, 2018-04-12 15:49:42, 2018-04-13 16:15:05, 2018-04-19 21:43:34, 2018-05-05 21:57:16, 2018-05-10 16:25:48, 2018-05-16 22:39:38, 2018-05-24 02:00:09, 2018-05-25 15:00:15, 2018-06-06 16:43:22, 2018-06-09 23:26:22, 2018-06-10 15:31:10, 2018-06-10 16:19:10, 2018-06-24 22:12:00, 2018-06-24 22:12:16, 2018-07-02 02:15:09, 2018-07-20 14:04:48, 2018-08-04 23:13:32, 2018-08-09 22:40:38, 2018-08-10 14:58:50, 2018-08-12 01:35:50, 2018-08-17 14:46:00, 2018-09-04 00:21:03, 2018-09-14 14:46:19, 2018-10-09 15:00:24, 2018-10-12 01:47:50, 2018-10-14 22:41:36, 2018-10-20 16:55:56, 2018-10-21 15:57:17, 2018-11-02 13:58:11, 2018-11-03 21:20:42, 2018-11-13 01:41:51, 2018-11-17 16:47:40, 2018-11-24 15:37:00, 2018-12-06 16:34:39, 2018-12-06 16:41:38, 2018-12-06 20:00:28, 2018-12-13 16:03:52, 2018-12-14 00:48:23, 2018-12-16 20:18:14, 2019-01-12 02:58:43, 2019-01-17 16:05:34, 2019-01-23 16:45:30, 2019-02-18 23:17:46, 2019-03-07 23:00:41, 2019-03-13 16:24:02, 2019-03-22 11:43:07, 2019-03-23 01:54:42, 2019-03-26 15:38:49, 2019-04-21 23:41:57, 2019-04-23 15:25:17, 2019-04-23 16:26:22, 2019-05-05 13:19:57, 2019-05-09 03:47:22, 2019-05-10 04:31:13, 2019-05-12 16:18:13, 2019-05-14 15:07:12, 2019-05-30 12:10:22, 2019-06-08 01:58:13, 2019-06-16 18:18:58, 2019-06-18 10:44:48, 2019-06-21 16:39:02, 2019-07-01 12:28:38, 2019-07-05 22:42:03, 2019-07-08 15:40:08, 2019-07-09 15:47:07, 2019-07-12 13:20:06, 2019-07-14 05:11:34, 2019-07-14 08:30:23, 2019-07-19 11:57:35, 2019-07-20 01:38:12, 2019-07-23 15:59:54, 2019-07-26 16:32:25, 2019-08-17 04:10:41, 2019-08-19 23:11:43, 2019-08-22 16:10:38, 2019-08-25 20:52:06, 2019-08-26 14:43:08, 2019-08-30 22:50:23, 2019-08-31 00:23:44, 2019-08-31 04:44:03, 2019-09-06 01:53:00, 2019-09-25 15:56:23, 2019-09-26 17:50:51, 2019-09-27 01:37:06, 2019-10-13 13:32:27, 2019-10-13 13:35:57, 2019-10-13 15:54:51, 2019-10-20 22:44:39, 2019-10-25 14:11:03, 2019-11-03 00:54:27, 2019-11-06 18:30:42, 2019-11-27 14:08:06, 2019-12-15 17:46:08, 2019-12-15 20:21:29, 2019-12-16 14:56:03, 2019-12-20 14:57:05, 2019-12-22 17:10:49, 2019-12-22 17:53:44, 2019-12-28 03:13:54, 2020-01-09 15:55:54, 2020-01-15 02:32:17, 2020-01-19 17:52:22, 2020-01-19 17:52:35, 2020-01-23 02:34:30, 2020-02-02 03:25:05, 2020-02-07 00:29:16, 2020-02-08 18:42:09, 2020-02-13 23:47:04, 2020-02-14 14:09:22, 2020-02-14 15:49:35, 2020-02-17 14:49:54, 2020-02-21 01:22:07, 2020-02-27 12:48:01, 2020-03-09 02:18:25, 2020-03-13 02:42:23, 2020-05-11 14:52:32, 2020-05-20 20:52:34, 2020-07-16 23:47:32, 2020-08-08 14:44:25, 2020-09-04 17:06:14, 2020-09-04 18:04:59, 2020-09-13 13:48:20, 2020-09-20 14:23:52, 2020-10-08 16:40:48, 2020-11-21 14:39:04, 2020-11-29 23:46:58, 2021-01-11 22:52:36, 2021-01-24 00:40:11, 2021-02-20 15:43:04, 2021-02-28 15:18:49, 2021-03-14 11:52:49, 2021-03-20 16:02:55, 2021-03-22 17:59:08, 2021-03-28 15:45:31, 2021-05-03 23:17:00, 2021-06-05 12:38:37, 2021-06-12 00:25:27, 2021-09-11 13:29:47, 2021-09-18 14:56:01, 2021-10-03 14:39:41, 2021-12-19 13:32:27, 2021-12-21 15:41:10, 2021-12-26 15:27:33, 2021-12-31 17:11:20 hasta:  2022-01-19 01:15:21

In [33]:
table = pa.Table.from_pandas(df_checkin_concatenado)                              # Se crea una tabla tipo pyarrow del dataframe para guardarlo en archivos separados.
nombre_archivo = "checkin-reducido.parquet"                                       # Se arma el nombre del archivo
ruta_archivo = os.path.join('../Datasets/Datasets_Yelp/checkin/', nombre_archivo) # La ruta donde se guardara el archivo
pq.write_table(table, ruta_archivo)                                               # Se graba en el directorio

Debido a limitaciones del repositorio de GitHob, donde solo permite archivos de tamaño maximo de 100MB, se procede a generar archivos que no excedan dicho tamaño.<br>
. Cantidad total de registros:  131930<br>
. Cantidad de registros aproximado por archivos: 32982<br>
. Cantidad de archivos: 4

In [12]:
archivo_checkin_parquet = "../Datasets/Datasets_Yelp/checkin/checkin-reducido.parquet"  # Ruta y nombre del Archivo original
datos_checkin_parquet = pq.read_table(archivo_checkin_parquet)                          # Se lee y se carga el archivo como una tabla
cantidad_registros = 32982                                                              # Cantidad de registros por archivos separados
for ind in range(0, datos_checkin_parquet.num_rows, cantidad_registros):                # Un ciclo para grupo de registros
    info_cantidad_registros = datos_checkin_parquet.slice(ind, cantidad_registros)      # Se extrae grupos de cantidad_registros registros
    nombre_archivo = "checkin-reducido_" + str(ind // cantidad_registros) + ".parquet"  # Se arma el nombre del archivo
    ruta_archivo = os.path.join('../Datasets/Datasets_Yelp/checkin/', nombre_archivo)   # La ruta donde se guardara el archivo
    pq.write_table(info_cantidad_registros, ruta_archivo)                               # Se graba en el directorio

Cargando los archivos parquet reducidos como un Dataframe

In [4]:
directorio = "../Datasets/Datasets_Yelp/checkin/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "checkin-reducido_*.parquet")
df_list = []                                        # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                          # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_checkin = pq.read_table(source=archivo)   # Se crea una tabla con cada archivo
    df = tabla_checkin.to_pandas()                  # Se transforma la tabla en un dataframe
    df_list.append(df)                              # Se adicionan a los dataframe
df_checkin_reducido_concatenado = pd.concat(df_list)# Se concatenan todos los DataFrames en uno solo
df_checkin_reducido_concatenado = df_checkin_reducido_concatenado.reset_index(drop=True)  # Se resetea el indice a uno secuencial y consecutivo

In [9]:
df_checkin_reducido_concatenado.head()

            business_id                                               date
0    kPU91CF4Lq2WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

- - -

In [11]:
# Se le quita el caracter '-' del campo business_id
df_checkin_reducido_concatenado['business_id'] = df_checkin_reducido_concatenado['business_id'].str.replace('-','',regex=True)

In [17]:
# df_checkin_reducido_concatenado = df_checkin_reducido_concatenado.explode('date')

# df_checkin_reducido_concatenado.date.str.split(pat=',',expand=True)

In [18]:
print(df_checkin_reducido_concatenado['date'])

0         2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1         2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2                  2013-06-14 23:29:17, 2014-08-13 23:20:22
3         2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4         2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...
                                ...
131925    2013-03-23 16:22:47, 2013-04-07 02:03:12, 2013...
131926                                  2021-06-12 01:16:12
131927    2011-05-24 01:35:13, 2012-01-01 23:44:33, 2012...
131928             2016-12-03 23:33:26, 2018-12-02 19:08:45
131929                                  2015-01-06 17:51:53
Name: date, Length: 131930, dtype: object

In [10]:
# Guarda un dataframe en formato parquet
archivo_checkin_parquet = "../Datasets/Datasets_Yelp/checkin/checkin-reducido.parquet"
df_checkin_reducido_concatenado.to_parquet(archivo_checkin_parquet)

- - -
`Datasets: tip`

Tipo de archivo JSon

Procedimieto que permite separar el dataset tip en 1 archivos tipo parquet.<br>
El datasets tip tiene aproximadamente: 908.915 registros.<br>
Se abre el archivo JSon y se salva tipo parquet con la misma cantidad de registros.

In [ ]:
archivo_tip_json = "../Datsets/Datasets_Yelp/tip/review.json"

with jsonlines.open(archivo_tip_json) as reader:
    lista_datos = list(reader)                                                  # Lee todos los registros y crea una lista
    total_registros = len(lista_datos)                                          # Se tiene el total de registros, esto para separar en varios archivos.

    for ind in range(0, total_registros, total_registros):
        iformacion_registros = lista_datos[ind:ind+total_registros]             # Se extrae grupos de cantidad_registros registros
        df = pd.DataFrame(iformacion_registros)                                 # Se crea un dataframe con el grupo de registros extraidos
        table = pa.Table.from_pandas(df)                                        # Se crea una tabla tipo pyarrow del dataframe para guardarlo en archivos separados.
        nombre_archivo = "tip_" + str(ind//total_registros) + ".parquet"        # Se arma el nombre del archivo
        ruta_archivo = os.path.join('../Datsets/Datasets_Yelp/tip/', nombre_archivo)    # La ruta donde se guardara el archivo
        pq.write_table(table, ruta_archivo)

Se cargan los datasets que contienen grupos de registros ya separados.

In [12]:
directorio = "../Datasets/Datasets_Yelp/tip/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "tip_*.parquet")
df_list = []                                    # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                      # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_user = pq.read_table(source=archivo)  # Se crea una tabla con cada archivo
    df = tabla_user.to_pandas()                 # Se transforma la tabla en un dataframe
    df_list.append(df)                          # Se adicionan a los dataframe
df_tip_concatenado = pd.concat(df_list)        # Se concatenan todos los DataFrames en uno solo
df_tip_concatenado = df_tip_concatenado.reset_index(drop=True)    # Se resetea el indice a uno secuencial y consecutivo

Diccionario del dataset tip

| # | Column | Dtype | RealType |
| --------- | --------- | --------- | --------- |
| 0 | user_id | object | string |
| 1 | business_id | object | string |
| 2 | text | object | string |
| 3 | date | float64 | date YYYY-MM-DD |
| 4 | compliment_count | int64 | int64 |

Para su manipulacion se reduce el dataset a 5 años de registros y se ajustan los campos:<br> 
. date al formato: YYYY-MM-DD<br>

In [17]:
print('Datos iniciales desde: ', df_tip_concatenado['date'].min(), 'hasta: ',df_tip_concatenado['date'].max())
df_tip_concatenado['date'] = pd.to_datetime(df_tip_concatenado['date'])
df_tip_2018_to_2022 = df_tip_concatenado[df_tip_concatenado['date'].dt.year.between(2018, 2022)]
df_tip_2018_to_2022 = df_tip_2018_to_2022.reset_index(drop=True)
df_tip_2018_to_2022['date'] = pd.to_datetime(df_tip_2018_to_2022['date']).dt.strftime('%Y-%m-%d')
print('Datos finales desde: ', df_tip_2018_to_2022['date'].min(), 'hasta: ',df_tip_2018_to_2022['date'].max())

Datos iniciales desde:  2009-04-16 13:11:49 hasta:  2022-01-19 20:38:55
Datos finales desde:  2018-01-01 hasta:  2022-01-19

Se crea un archivo en el directorio tip con el dataset reducido en cantidad de registros para 5 años

In [18]:
table = pa.Table.from_pandas(df_tip_2018_to_2022)                              # Se crea una tabla tipo pyarrow del dataframe para guardarlo en archivos separados.
nombre_archivo = "tip-reducido.parquet"                                        # Se arma el nombre del archivo
ruta_archivo = os.path.join('../Datasets/Datasets_Yelp/tip/', nombre_archivo)  # La ruta donde se guardara el archivo
pq.write_table(table, ruta_archivo)                                            # Se graba en el directorio

- - -
2 años de registros

In [4]:
directorio = "../Datasets/Datasets_Yelp/tip/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "tip-reducido*.parquet")
df_list = []                                        # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                          # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_review = pq.read_table(source=archivo)    # Se crea una tabla con cada archivo
    df = tabla_review.to_pandas()                   # Se transforma la tabla en un dataframe
    df_list.append(df)                              # Se adicionan a los dataframe
df_tip_reducido_concatenado = pd.concat(df_list) # Se concatenan todos los DataFrames en uno solo
df_tip_reducido_concatenado = df_tip_reducido_concatenado.reset_index(drop=True)  # Se resetea el indice a uno secuencial y consecutivo

In [9]:
print('Datos iniciales desde: ', df_tip_reducido_concatenado['date'].min(), 'hasta: ',df_tip_reducido_concatenado['date'].max())
df_tip_reducido_concatenado['date'] = pd.to_datetime(df_tip_reducido_concatenado['date'])
df_tip_2018_to_2020 = df_tip_reducido_concatenado[df_tip_reducido_concatenado['date'].dt.year.between(2018, 2020)]
df_tip_2018_to_2020 = df_tip_2018_to_2020.reset_index(drop=True)
df_tip_2018_to_2020['date'] = pd.to_datetime(df_tip_2018_to_2020['date']).dt.strftime('%Y-%m-%d')
print('Datos finales desde: ', df_tip_2018_to_2020['date'].min(), 'hasta: ',df_tip_2018_to_2020['date'].max())

Datos iniciales desde:  2018-01-01 00:00:00 hasta:  2022-01-19 00:00:00
Datos finales desde:  2018-01-01 hasta:  2020-12-31

In [6]:
df_tip_reducido_concatenado.head()

,user_id,business_id,text,date,compliment_count
0,1viszljzsa8W7VnYPuWosw,Zg83olSjsdXAhE5EEy5IcQ,Order crispy and they bake it up good.,2018-04-01,0
1,YnlCpuaBa3qWBp4te8pGmA,XIKYdKWq72zUYsq8NBxcCQ,The honey glazed salmon is amazing!,2018-01-14,0
2,XJDLaoN1PerKw2woiKeepA,t0zwddmbOGQOADrAxEPHQQ,Come by for some Jelly Bean sours this weekend!,2018-03-31,0
3,9M_nk0kA3CTJt6UoxRAK_g,oJf3IZloLf_PDeEeZW5nDg,Meatball sandwich,2018-03-27,0
4,0LY6l9-Z2IrVtnfj6OX06w,Zmwm6d872C8kWJr4b6UGfg,Great tasty food,2018-04-01,0

- - -

Debido a limitaciones del repositorio de GitHob, donde solo permite archivos de tamaño maximo de 100MB.
En el caso del dataset tip, no es necesario separar en varios archivos ya que su tamaño se ajusta.<br>
. Cantidad total de registros:  193033<br>
. Cantidad de archivos: 1

Cargando los archivos parquet reducidos como un Dataframe

In [21]:
directorio = "../Datasets/Datasets_Yelp/tip/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "tip-reducido*.parquet")
df_list = []                                        # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                          # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_review = pq.read_table(source=archivo)    # Se crea una tabla con cada archivo
    df = tabla_review.to_pandas()                   # Se transforma la tabla en un dataframe
    df_list.append(df)                              # Se adicionan a los dataframe
df_tip_reducido_concatenado = pd.concat(df_list) # Se concatenan todos los DataFrames en uno solo
df_tip_reducido_concatenado = df_tip_reducido_concatenado.reset_index(drop=True)  # Se resetea el indice a uno secuencial y consecutivo

In [22]:
df_tip_reducido_concatenado.head()

,user_id,business_id,text,date,compliment_count
0,1viszljzsa8W7VnYPuWosw,Zg83olSjsdXAhE5EEy5IcQ,Order crispy and they bake it up good.,2018-04-01,0
1,YnlCpuaBa3qWBp4te8pGmA,XIKYdKWq72zUYsq8NBxcCQ,The honey glazed salmon is amazing!,2018-01-14,0
2,XJDLaoN1PerKw2woiKeepA,t0zwddmbOGQOADrAxEPHQQ,Come by for some Jelly Bean sours this weekend!,2018-03-31,0
3,9M_nk0kA3CTJt6UoxRAK_g,oJf3IZloLf_PDeEeZW5nDg,Meatball sandwich,2018-03-27,0
4,0LY6l9-Z2IrVtnfj6OX06w,Zmwm6d872C8kWJr4b6UGfg,Great tasty food,2018-04-01,0

- - -
`Datasets: review`

Tipo de archivo JSon

Procedimieto que permite separar el dataset review en 13 archivos tipo parquet con aproximadamente 500.000 registros cada archivo.<br>
El datasets reviews tiene aproximadamente: 6.990.280 registros.<br>

El siguiente procedimiento lee el datasets original JSon, aproximadamente de 5Gb y lo separa en archivos tipo parquet.

In [ ]:
archivo_review_json = "../Datsets/Datasets_Yelp/review/review.json"             # Ruta y nombre del Archivo original
cantidad_registros = 500000                                                     # Cantidad de registros por archivos
with jsonlines.open(archivo_review_json) as reader:                             # Se lee el archivo original JSon
    lista_datos = list(reader)                                                  # Lee todos los registros y crea una lista
    total_registros = len(lista_datos)                                          # Se tiene el total de registros, esto para separar en varios archivos.
    for ind in range(0, total_registros, cantidad_registros):                   # Un ciclo por cada grupo de registors
        iformacion_registros = lista_datos[ind:ind+cantidad_registros]          # Se extrae grupos de cantidad_registros registros
        df = pd.DataFrame(iformacion_registros)                                 # Se crea un dataframe con el grupo de registros extraidos
        table = pa.Table.from_pandas(df)                                        # Se crea una tabla tipo pyarrow del dataframe para guardarlo en archivos separados.
        nombre_archivo = "review_" + str(ind//cantidad_registros) + ".parquet"  # Se arma el nombre del archivo
        ruta_archivo = os.path.join('../Datsets/Datasets_Yelp/review/', nombre_archivo) # La ruta donde se guardara el archivo
        pq.write_table(table, ruta_archivo)                                     # Se graba en el directorio

Se cargan los datasets que contienen grupos de registros ya separados.

In [4]:
directorio = "../Datasets/Datasets_Yelp/review/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "review_*.parquet")
df_list = []                                    # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                      # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_user = pq.read_table(source=archivo)  # Se crea una tabla con cada archivo
    df = tabla_user.to_pandas()                 # Se transforma la tabla en un dataframe
    df_list.append(df)                          # Se adicionan a los dataframe
df_review_concatenado = pd.concat(df_list)        # Se concatenan todos los DataFrames en uno solo
df_review_concatenado = df_review_concatenado.reset_index(drop=True)    # Se resetea el indice a uno secuencial y consecutivo

Diccionario del dataset review

| # | Column | Dtype | RealType |
| --------- | --------- | --------- | --------- |
| 0 | review_id | object | string |
| 1 | user_id | object | string |
| 2 | business_id | object | string |
| 3 | stars | float64 | int64 |
| 4 | useful | int64 | int64 |
| 5 | funny | int64 | int64 |
| 6 | cool | int64 | int64 |
| 7 | text | object | string |
| 8 | date | object | date YYYY-MM-DD |

Para su manipulacion se reduce el dataset a 5 años de registros y se ajustan los campos:<br> 
. date al formato: YYYY-MM-DD<br>
. starts a tipo int64

In [25]:
print('Datos iniciales desde: ', df_review_concatenado['date'].min(), 'hasta: ',df_review_concatenado['date'].max())
df_review_concatenado['date'] = pd.to_datetime(df_review_concatenado['date'])
df_review_2018_to_2022 = df_review_concatenado[df_review_concatenado['date'].dt.year.between(2018, 2022)]
df_review_2018_to_2022 = df_review_2018_to_2022.reset_index(drop=True)
df_review_2018_to_2022['date'] = pd.to_datetime(df_review_2018_to_2022['date']).dt.strftime('%Y-%m-%d')
df_review_2018_to_2022['stars'] = df_review_2018_to_2022['stars'].astype('int64')
print('Datos finales desde: ', df_review_2018_to_2022['date'].min(), 'hasta: ',df_review_2018_to_2022['date'].max())

Datos iniciales desde:  2005-02-16 03:23:22 hasta:  2022-01-19 19:48:45
Datos finales desde:  2018-01-01 hasta:  2022-01-19

Se crea un archivo en el directorio review con el dataset reducido en cantidad de registros para 5 años

In [28]:
table = pa.Table.from_pandas(df_review_2018_to_2022)                              # Se crea una tabla tipo pyarrow del dataframe para guardarlo en archivos separados.
nombre_archivo = "review-reducido.parquet"                                        # Se arma el nombre del archivo
ruta_archivo = os.path.join('../Datasets/Datasets_Yelp/review/', nombre_archivo)  # La ruta donde se guardara el archivo
pq.write_table(table, ruta_archivo)                                               # Se graba en el directorio

Debido a limitaciones del repositorio de GitHob, donde solo permite archivos de tamaño maximo de 100MB, se procede a generar archivos que no excedan dicho tamaño.<br>
. Cantidad total de registros:  2742210<br>
. Cantidad de registros aproximado por archivos: 100000<br>
. Cantidad de archivos: 27

Procedimiento para crear archivos separados de grupos de registros donde el tamaño de cada archivo no exceda de 50Mb

In [17]:
archivo_review_parquet = "../Datasets/Datasets_Yelp/review/review-reducido.parquet" # Ruta y nombre del Archivo original
datos_review_parquet = pq.read_table(archivo_review_parquet)                        # Se lee y se carga el archivo como una tabla
cantidad_registros = 100000                                                         # Cantidad de registros por archivos separados
for ind in range(0, datos_review_parquet.num_rows, cantidad_registros):             # Un ciclo para grupo de registros
    info_cantidad_registros = datos_review_parquet.slice(ind, cantidad_registros)   # Se extrae grupos de cantidad_registros registros
    nombre_archivo = "review-reducido_" + str(ind // cantidad_registros) + ".parquet"   # Se arma el nombre del archivo
    ruta_archivo = os.path.join('../Datasets/Datasets_Yelp/review/', nombre_archivo)    # La ruta donde se guardara el archivo
    pq.write_table(info_cantidad_registros, ruta_archivo)                           # Se graba en el directorio

Cargando los archivos parquet reducidos como un Dataframe

In [3]:
directorio = "../Datasets/Datasets_Yelp/review/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "review-reducido_*.parquet")
df_list = []                                        # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                          # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_review = pq.read_table(source=archivo)    # Se crea una tabla con cada archivo
    df = tabla_review.to_pandas()                   # Se transforma la tabla en un dataframe
    df_list.append(df)                              # Se adicionan a los dataframe
df_review_reducido_concatenado = pd.concat(df_list) # Se concatenan todos los DataFrames en uno solo
df_review_reducido_concatenado = df_review_reducido_concatenado.reset_index(drop=True)  # Se resetea el indice a uno secuencial y consecutivo

In [4]:
df_review_reducido_concatenado.shape

(2742210, 9)

In [23]:
# Se le quita la columna funny
df_review_reducido_concatenado =  df_review_reducido_concatenado.drop('funny', axis=1)

In [24]:
df_review_reducido_concatenado.head(4).T

,0,1,2,3
review_id,KU_O5udG6zpxOg-VcAEodg,lUUhg8ltDsUZ9h0xnwY4Dg,JBWZmBy69VMggxj3eYn17Q,E9AB7V4z8xrt2uPF7T55FQ
user_id,mh_-eMZ6K5RLWhZyISBhwA,RreNy--tOmXMl1en0wiBOg,aFa96pz67TwOFu4Weq5Agg,iYY5Ii1LGpZCpXFkHlMefw
business_id,XQfwVwDr-v0ZS3_CbbE5Xw,cPepkJeRMtHapc_b2Oe_dw,kq5Ghhh14r-eCxlVmlyd8w,Zx7n8mdt8OzLRXVzolXNhQ
stars,3,4,5,5
useful,0,1,0,0
cool,0,1,0,0
text,"If you decide to eat here, just be aware it is...",I was really between 3 and 4 stars for this on...,My boyfriend and I tried this deli for the fir...,Amazing biscuits and (fill in the blank). Grea...
date,2018-07-07,2018-07-17,2018-08-23,2018-04-27

In [26]:
# Creando un archivo en formato csv

archivo_review_csv = "../Datasets/Datasets_Yelp/review/review.csv"
df_review_reducido_concatenado.to_csv(archivo_review_csv, index=False)

In [27]:
archivo_review_csv = "../Datasets/Datasets_Yelp/review/review.csv"
df = pd.read_csv(archivo_review_csv)

In [28]:
df.head().T

,0,1,2,3,4
review_id,KU_O5udG6zpxOg-VcAEodg,lUUhg8ltDsUZ9h0xnwY4Dg,JBWZmBy69VMggxj3eYn17Q,E9AB7V4z8xrt2uPF7T55FQ,A4n4YaE-owOVgTQcrVqHUw
user_id,mh_-eMZ6K5RLWhZyISBhwA,RreNy--tOmXMl1en0wiBOg,aFa96pz67TwOFu4Weq5Agg,iYY5Ii1LGpZCpXFkHlMefw,S7bjj-L07JuRr-tpX1UZLw
business_id,XQfwVwDr-v0ZS3_CbbE5Xw,cPepkJeRMtHapc_b2Oe_dw,kq5Ghhh14r-eCxlVmlyd8w,Zx7n8mdt8OzLRXVzolXNhQ,I6L0Zxi5Ww0zEWSAVgngeQ
stars,3,4,5,5,4
useful,0,1,0,0,0
cool,0,1,0,0,0
text,"If you decide to eat here, just be aware it is...",I was really between 3 and 4 stars for this on...,My boyfriend and I tried this deli for the fir...,Amazing biscuits and (fill in the blank). Grea...,The cafe was extremely cute. We came at 8am an...
date,2018-07-07,2018-07-17,2018-08-23,2018-04-27,2018-07-07

Cargando el archivo parquet como una table pyarrow

In [15]:
archivo_review_parquet = "../Datasets/Datasets_Yelp/review/review-reducido.parquet"
datos_tabla_parquet = pq.read_table(archivo_review_parquet)

In [16]:
print("Tipo de dato: ",type(datos_tabla_parquet))
print("Tipos de datos: ",datos_tabla_parquet)
print("Cantidad de columnas: ",datos_tabla_parquet.num_columns)
print("Nombre columnas: ",datos_tabla_parquet.column_names)
print("Cantidad de registros: ",datos_tabla_parquet.num_rows)

Tipo de dato:  <class 'pyarrow.lib.Table'>
Tipos de datos:  pyarrow.Table
review_id: string
user_id: string
business_id: string
stars: double
useful: int64
funny: int64
cool: int64
text: string
date: string
----
review_id: [["KU_O5udG6zpxOg-VcAEodg","BiTunyQ73aT9WBnpR9DZGw","saUsX_uimxRlCVr67Z4Jig","AqPFMleE6RsU23_auESxiA","Sx8TMOWLNuJBWer-0pcmoA","JrIxlS1TzJ-iCu79ul40cQ","6AxgBCNX_PNTOxmbRSwcKQ","_ZeMknuYdlQcUqng_Im3yg","ZKvDG2sBvHVdF5oBNUOpAQ","pUycOfUwM8vqX7KjRRhUEA",...,"VX_qZ3uK7SIomq1t4BzFnQ","aFPIbN3aj5pN0RmlUDkmgw","Ki7ncLCgVWK9Ysukwk0zJg","lJqnUK9gASgdyx9USoKzfw","W8I3wWhb9hmglasrR6dePg","q4Z6NCR1IMRdpPorTD89Tg","KTg0i04SbVWGWHHJmGOI_A","ZuMNAPcArFtaGufe-nwGOA","Lohri9uZyvoNnH5z_NT6DA","9BaxxfWBmIsSPlx-kvRBDw"]]
user_id: [["mh_-eMZ6K5RLWhZyISBhwA","OyoGAe7OKpv6SyGZT5g77Q","8g_iMtfSiwikVnbP2etR0A","_7bHUi9Uuf5__HHc_Q8guQ","bcjbaE6dDog4jkNY91ncLQ","eUta8W_HdHMXPzLBBZhL1A","r3zeYsv1XFBRA4dJpL78cw","yfFzsLmaWF2d4Sr0UNbBgg","wSTuiTk-sKNdcFyprzZAjg","59MxRhNVhU9MYndMkz0wtw",...,"8TY9eLPAYyvwrqWFx77HvA","r_jYtiPrYxXHDlEZCgJsTw","00hTIAj8PYj5vbaVtbpZJw","7N8IMmMrevDQ0B_Hqa87pQ","MZlZfs0ro3Aj3-FPOBPE-Q","tCPzvPwsd_DwBx6whsDlLQ","rj0uSTXu1rPVgAfOMHYltQ","MVqzYt-E7y1Mdw9F_7nLjw","vn777Y2vCynYYUYJjNYdYg","_49VYA-2qlNOOkE8Hc7Z_A"]]
business_id: [["XQfwVwDr-v0ZS3_CbbE5Xw","7ATYjTIgM3jUlt4UM3IypQ","YjUWPpI6HXG530lwP-fb2A","kxX2SOes4o-D3ZQBkiMRfA","e4Vwtrqf-wpJfwesgvdgxQ","04UD14gamNjLY0IDYVhHJg","gmjsEdUsKpj9Xxu6pdjH0g","LHSTtnW3YHCeUkRDGyJOyw","B5XSoSG3SfvQGtKEGQ1tSQ","gebiRewfieSdtt17PTW6Zg",...,"xT41eqUSsM_MDE1Vjhq20A","AHAPYD1ADG6MD8RB1LprWA","itAhmbhHOyQQparfwicjDQ","iEC0VzHM2hQ13wM7c0QwgQ","DMmdMkh7sIhUHgVawGxY6g","-QwHN9KoluPcA0YFllwFYQ","t_v2TyjeqaRkrfZKudY9cA","3XirYkP9PJvVXIEDPNNXLA","gfPDLZimZu1NtBIDbeXetg","sWCCxY1-9B1FGlSVeQvnHg"]]
stars: [[3,5,3,5,4,1,5,5,3,3,...,5,1,5,4,5,5,5,4,2,5]]
useful: [[0,1,0,1,1,1,0,2,1,0,...,0,6,1,0,0,0,0,0,1,0]]
funny: [[0,0,0,0,0,2,2,0,1,0,...,0,5,0,0,0,0,0,0,0,0]]
cool: [[0,1,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0]]
text: [["If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to like it! I have been to it's other locations in NJ and never had a bad experience.

The food is good, but it takes a very long time to come out. The waitstaff is very young, but usually pleasant. We have just had too many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker.","I've taken a lot of spin classes over the years, and nothing compares to the classes at Body Cycle. From the nice, clean space and amazing bikes, to the welcoming and motivating instructors, every class is a top notch work out.

For anyone who struggles to fit workouts in, the online scheduling system makes it easy to plan ahead (and there's no need to line up way in advanced like many gyms make you do).

There is no way I can write this review without giving Russell, the owner of Body Cycle, a shout out. Russell's passion for fitness and cycling is so evident, as is his desire for all of his clients to succeed. He is always dropping in to classes to check in/provide encouragement, and is open to ideas and recommendations from anyone. Russell always wears a smile on his face, even when he's kicking your butt in class!","Family diner. Had the buffet. Eclectic assortment: a large chicken leg, fried jalapeño, tamale, two rolled grape leaves, fresh melon. All good. Lots of Mexican choices there. Also has a menu with breakfast served all day long. Friendly, attentive staff. Good place for a casual relaxed meal with no expectations. Next to the Clarion Hotel.","Wow!  Yummy, different,  delicious.   Our favorite is the lamb curry and korma.  With 10 different kinds of naan!!!  Don't let the outside deter you (because we almost changed our minds)...go in and try something new!   You'll be glad you did!","Cute interior and owner (?) gave us tour of upcoming patio/rooftop area which will be great on beautiful days like today. Cheese curds were very good and very filling. Really like that sandwiches come w salad, esp after eating too many curds! Had the onion, gruyere, tomato sandwich. Wasn't too much cheese which I liked. Needed something else...pepper jelly maybe. Would like to see more menu options added such as salads w fun cheeses. Lots of beer and wine as well as limited cocktails. Next time I will try one of the draft wines.","I am a long term frequent customer of this establishment. I just went in to order take out (3 apps) and was told they're too busy to do it. Really? The place is maybe half full at best. Does your dick reach your ass? Yes? Go fuck yourself! I'm a frequent customer AND great tipper. Glad that Kanella just opened. NEVER going back to dmitris!","Loved this tour! I grabbed a groupon and the price was great. It was the perfect way to explore New Orleans for someone who'd never been there before and didn't know a lot about the history of the city. Our tour guide had tons of interesting tidbits about the city, and I really enjoyed the experience. Highly recommended tour. I actually thought we were just going to tour through the cemetery, but she took us around the French Quarter for the first hour, and the cemetery for the second half of the tour. You'll meet up in front of a grocery store (seems strange at first, but it's not terribly hard to find, and it'll give you a chance to get some water), and you'll stop at a visitor center part way through the tour for a bathroom break if needed. This tour was one of my favorite parts of my trip!","Amazingly amazing wings and homemade bleu cheese. Had the ribeye: tender, perfectly prepared, delicious. Nice selection of craft beers. Would DEFINITELY recommend checking out this hidden gem.","This easter instead of going to Lopez Lake we went to Los Padres National Forest which is really pretty but if you go to white rock the staff needs to cut down all the dead grass that invades the rock and the water. I would wish the staff would also clean or get rid of the dead grass that's also living by the water. The water is really green and dirty. Los padres national forest staff need to work hard to maintain this forest looking pretty and not like a dumpster. Even Cachuma lake looks like they put a bit more effort.","Had a party of 6 here for hibachi. Our waitress brought our separate sushi orders on one plate so we couldn't really tell who's was who's and forgot several items on an order. I understand making mistakes but the restaraunt was really quiet so we were kind of surprised. Usually hibachi is a fun lively experience and our  cook  said maybe three words, but he cooked very well his name was Francisco. Service was fishy, food was pretty good, and im hoping it was just an off night here. But for the money I wouldn't go back.",...,"The standard wrap sandwich at this store was delicious! The extra $5 for the Gulf Shrimp  was well worth it!","I asked if there was a minimum about of hours you had to rent it for a Saturday night and this was the response I received

"While you MAY be able to reserve a request for as few as three hours on a Saturday night, there is a strong chance that on VERY LITTLE notice ( an hour or two ) you will receive a phone call explaining that the vehicle was "damaged, delayed and / or defunct" and that no other vehicle is available. This last-minute cancellation will be the result of a better request  ( $$$ ) for the company. While Profile Transportation will accept a 3-hour booking ( perhaps a day or two in advance of service ), I am not able to commit a vehicle on a Saturday night two-plus months in advance.  Please remember that you need a vehicle which is specialized...not the standard sedan or SUV. Be careful. Thank you. Philip.".","Delicious coffee and wonderful little shop in the warehouse district. The home made oat milk was killer. Loved it and made my latte smooth. No need for sugar. I can't wait to try the homemade almond milk tomorrow.","Loved the Monte Cristo sandwich. Previously gave them 5 stars! Now that the pandemic is slowing and they are back to a full menu, they took the Monte Cristo off the menu. It was good whike it lasted. So sorry to see it go. The only other meal I like there is the eggs benedict. So, I guess I won't be going to Metro very ofyen.","This is the best BBQ in the area. The owners are super friendly, the prices are reasonable, the sandwiches are LOADED. Great meats and sides. They catered a party for me and everyone loved with the ribs and pulled pork. Don't be turned off by the setting (being at a gas station), give them a chance and you too will be standing in line for some.","We won the Playoff game last night and is scheduled for the Championship game tonight! Out Juniata Bears 11/12 are winners no matter what happens tonight because they fought hard for this opportunity. We wanted to reward our team with trophies to show they're winners no matter the outcome !. Everyone we called told us we needed 24 hours' notice so it couldn't be done. When I called Spike's Trophies, they heard the desperation in my voice and took my order without hesitation. I will forever be grateful to Lisa and Ted who answered the phone. She took her time making sure my needs were met. I'm beyond excited for the kids.

I would highly recommend this business and will use their services from now on!

A+A+A+A+A+A+A+A+A+A+A+A+A+A+A+A+A+A+A+A+A","We have been a resident almost 4 years at Manzanita and absolutely love it. The setting is peaceful and tranquil. The office and staff here are always helpful. Joanne has been the best in always helping in our details and facilitating all our needs. I recommend living here. It's a community that offers something for everyone

"A place to call home"

Kim & Luis","This place is hyped as one of the best places in St Louis. They are located in an interesting part of town. The history of the story is great. Tried a few chocolates and malt balls which were great. Unfortunately their ice cream and shakes were not that great compared to others we've had.","Saw the reviews so thought I'd try this place. Was really disappointed. The rice was supposed to be basmati but was regular rice and on top of that no flavor at all like no herbs, no hint of taste, sweet or otherwise like at a good Indian restaurant. I got vegetable jalfrezi and the vegetables were the cheap frozen kind of mixed vegetables you get at the supermarket! Really?!? Once I got over my confusion I found at least the sauce was good. Garlic naan was really good and was the best part of the meal, actually the only thing I ate all of. The pics are what I left.... Sorry couldn't eat that. I love Indian food and just couldn't do it to myself. At least when I complained the waitress have me 20%off. But sorry, won't be back. Two stars for the naan.","Yummy!  I ordered Uber Eats and wasn't sure how this was going to go. I ordered the Cajun Shrimp Alfredo.  OMG!  It was delicious!  The portion was huge. I had the meatballs and cheese.  OMG!  It was heaven!  Everything about this place was the BOMB!  My new go-to spot!"]]
date: [["2018-07-07 22:09:11","2012-01-03 15:28:18","2014-02-05 20:30:30","2015-01-04 00:01:03","2017-01-14 20:54:15","2015-09-23 23:10:31","2015-01-03 23:21:18","2015-08-07 02:29:16","2016-03-30 22:46:33","2016-07-25 07:31:06",...,"2021-06-27 17:23:18","2011-08-08 14:22:39","2021-05-14 17:09:38","2021-06-29 13:48:52","2021-02-02 22:05:03","2021-06-30 16:14:03","2021-03-24 20:21:27","2021-07-03 04:51:07","2019-04-16 23:28:41","2021-07-06 01:58:08"]]
Cantidad de columnas:  9
Nombre columnas:  ['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date']
Cantidad de registros:  500000

- - -

`Datasets: user`

Tipo de archivo Parquet

Procedimieto que permite separar el dataset user en 10 archivos tipo parquet con aproximadamente 150.000 registros cada archivo.<br>
El datasets user tiene aproximadamente: 2.105.597 registros.<br>

El siguiente procedimiento lee el datasets original Parquet, aproximadamente de 2.6Gb y lo separa en archivos tipo parquet.

In [ ]:
archivo_user_parquet = "../Datasets/Datasets_Yelp/user/user.parquet"             # Ruta y nombre del Archivo original
datos_user_parquet = pq.read_table(archivo_user_parquet)                        # Se lee y se carga el archivo como una tabla
cantidad_registros = 150000                                                     # Cantidad de registros por archivos separados
for ind in range(0, datos_user_parquet.num_rows, cantidad_registros):           # Un ciclo para grupo de registros
    info_cantidad_registros = datos_user_parquet.slice(ind, cantidad_registros) # Se extrae grupos de cantidad_registros registros
    nombre_archivo = "user_" + str(ind // cantidad_registros) + ".parquet"      # Se arma el nombre del archivo
    ruta_archivo = os.path.join('../Datasets/Datasets_Yelp/user/', nombre_archivo) # La ruta donde se guardara el archivo
    pq.write_table(info_cantidad_registros, ruta_archivo)                       # Se graba en el directorio

Se cargan los datasets que contienen grupos de registros ya separados.

In [4]:
directorio = "../Datasets/Datasets_Yelp/user/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "user_*.parquet")
df_list = []                                    # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                      # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_user = pq.read_table(source=archivo)  # Se crea una tabla con cada archivo
    df = tabla_user.to_pandas()                 # Se transforma la tabla en un dataframe
    df_list.append(df)                          # Se adicionan a los dataframe
df_user_concatenado = pd.concat(df_list)        # Se concatenan todos los DataFrames en uno solo
df_user_concatenado = df_user_concatenado.reset_index(drop=True)    # Se resetea el indice a uno secuencial y consecutivo

Diccionario de datos del dataset de user.

| # | Column | Dtype | RealType |
| --------- | --------- | --------- | --------- |
| 0 | user_id | object | string |
| 1 | name| object | string | 
| 2 | review_count | int64 | int64 | 
| 3 | yelping_since | object | date YYYY-MM-DD |
| 4 | useful | int64 | int64 | 
| 5 | funny | int64 | int64 |  
| 6 | cool | int64 | int64 |
| 7 | elite | object | list int64 |
| 8 | friends | object | list string |
| 9 | fans | int64 | int64 |
| 10 | average_stars | float64 | float64 |
| 11 | compliment_hot | int64 | int64 |  
| 12 | compliment_more | int64 | int64 |  
| 13 | compliment_profile | int64 | int64 |  
| 14 | compliment_cute | int64 | int64 |  
| 15 | compliment_list | int64 | int64 |  
| 16 | compliment_note | int64 | int64 |  
| 17 | compliment_plain | int64 | int64 |  
| 18 | compliment_cool | int64 | int64 |  
| 19 | compliment_funny | int64 | int64 |  
| 20 | compliment_writer | int64 | int64 |  
| 21 | compliment_photos | int64 | int64 |

Para su manipulacion se reduce el dataset a 5 años de registros y se ajustan los campos:<br> 
. yelping_since al formato: YYYY-MM-DD<br>

In [5]:
print('Datos iniciales desde: ', df_user_concatenado['yelping_since'].min(), 'hasta: ',df_user_concatenado['yelping_since'].max())
df_user_concatenado['yelping_since'] = pd.to_datetime(df_user_concatenado['yelping_since'])
df_user_2018_to_2022 = df_user_concatenado[df_user_concatenado['yelping_since'].dt.year.between(2018, 2022)]
df_user_2018_to_2022 = df_user_2018_to_2022.reset_index(drop=True)
df_user_2018_to_2022['yelping_since'] = pd.to_datetime(df_user_2018_to_2022['yelping_since']).dt.strftime('%Y-%m-%d')
print('Datos finales desde: ', df_user_2018_to_2022['yelping_since'].min(), 'hasta: ',df_user_2018_to_2022['yelping_since'].max())

Datos iniciales desde:  2004-10-12 08:46:11 hasta:  2022-01-19 17:15:47
Datos finales desde:  2018-01-01 hasta:  2022-01-19

Se crea un archivo en el directorio user con el dataset reducido en cantidad de registros para 5 años

In [6]:
table = pa.Table.from_pandas(df_user_2018_to_2022)                              # Se crea una tabla tipo pyarrow del dataframe para guardarlo en archivos separados.
nombre_archivo = "user-reducido.parquet"                                        # Se arma el nombre del archivo
ruta_archivo = os.path.join('../Datasets/Datasets_Yelp/user/', nombre_archivo)  # La ruta donde se guardara el archivo
pq.write_table(table, ruta_archivo)                                             # Se graba en el directorio

Debido a limitaciones del repositorio de GitHob, donde solo permite archivos de tamaño maximo de 100MB, se procede a generar archivos que no excedan dicho tamaño.<br>
. Cantidad total de registros:  329174<br>
. Cantidad de registros aproximado por archivos: 50000<br>
. Cantidad de archivos: 7

Procedimiento para crear archivos separados de grupos de registros donde el tamaño de cada archivo no exceda de 50Mb

In [23]:
archivo_user_parquet = "../Datasets/Datasets_Yelp/user/user-reducido.parquet"   # Ruta y nombre del Archivo original
datos_user_parquet = pq.read_table(archivo_user_parquet)                        # Se lee y se carga el archivo como una tabla
cantidad_registros = 50000                                                      # Cantidad de registros por archivos separados
for ind in range(0, datos_user_parquet.num_rows, cantidad_registros):           # Un ciclo para grupo de registros
    info_cantidad_registros = datos_user_parquet.slice(ind, cantidad_registros) # Se extrae grupos de cantidad_registros registros
    nombre_archivo = "user-reducido_" + str(ind // cantidad_registros) + ".parquet"  # Se arma el nombre del archivo
    ruta_archivo = os.path.join('../Datasets/Datasets_Yelp/user/', nombre_archivo) # La ruta donde se guardara el archivo
    pq.write_table(info_cantidad_registros, ruta_archivo)                       # Se graba en el directorio

Cargando los archivos parquet reducidos como un Dataframe

In [25]:
directorio = "../Datasets/Datasets_Yelp/user/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "user-reducido_*.parquet")
df_list = []                                    # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                      # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_user = pq.read_table(source=archivo)  # Se crea una tabla con cada archivo
    df = tabla_user.to_pandas()                 # Se transforma la tabla en un dataframe
    df_list.append(df)                          # Se adicionan a los dataframe
df_user_reducido_concatenado = pd.concat(df_list)                                   # Se concatenan todos los DataFrames en uno solo
df_user_reducido_concatenado = df_user_reducido_concatenado.reset_index(drop=True)  # Se resetea el indice a uno secuencial y consecutivo

In [26]:
df_user_reducido_concatenado.head(4)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,RDlBwvQe5oEQ8STtj6a5rg,Dee,4,2018-11-06,5,0,2,,"FrLfQoTXb7k68ZqBQTHSew, 88wN6ysc8Z1LSgaa-Au2MA...",0,...,0,0,0,0,0,0,0,0,0,0
1,wZ5mQSbZR5UpGpnddGT7mw,Odalis,178,2018-04-15,542,95,429,"2018,2019,20,20,2021","zGAGITTaxhi2J14604F_iA, WoMHyzfYFI8juti3DbaIvg...",22,...,3,0,0,0,21,29,33,33,21,26
2,Oj8Ohm_2OlV6hjKMsQn69w,Emily,2,2018-07-01,1,0,0,,"YQhTRxurCw9uNe3stFyHHA, XUbfn0nkZgcsLixJJ_2WKQ...",0,...,0,0,0,0,0,0,0,0,0,0
3,LRjvkbcZ5S4efH0xAVfkxw,Maggie,1,2018-09-08,2,0,0,,"VNHx2MZANbDBZml5eNMP2g, 5CmrzlkGIglc5A-4b4S8Ig...",0,...,0,0,0,0,0,0,0,0,0,0

`Datasets: business`

Tipo de archivo csv

Se carga el archivo .csv, se elimina la columna Unnamed y se resetea el index

In [139]:
ruta_archivo_cardano = "../Datasets/Datasets_Yelp/business/df_business_yelp.csv"
df_business_yelp = pd.read_csv(ruta_archivo_cardano)
# Se elimina la columna Unnamed del dataframe
df_business_yelp = df_business_yelp.loc[:, ~df_business_yelp.columns.str.contains('^Unnamed')]
# Se eliminan las columnas repetidas que contienen .1 en su nombre
df_business_yelp = df_business_yelp.loc[:, ~df_business_yelp.columns.str.contains('.1')]
# Se eliminan los registros duplicadas
df_business_yelp.drop_duplicates(inplace=True)
# Se eliminan los registros que contienen null en el campo state
df_business_yelp = df_business_yelp[df_business_yelp['state'].notna()]
df_business_yelp = df_business_yelp[df_business_yelp['address'].notna()]
# Se resetea el index
df_business_yelp = df_business_yelp.reset_index(drop=True)

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (15,16,17,18,19,20,26,27,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Contar los registros que tienen Null

In [140]:
df_business_yelp.isnull().sum()

business_id         0
name                0
address             0
city                0
state               0
postal_code        17
latitude            0
longitude           0
stars               0
review_count        0
is_open             0
attributes      12873
categories        102
hours           22112
dtype: int64

Se eliminan los estados que no seran tomados en cuenta

In [137]:
lista_estados = ['Tennessee', 'Ohio', 'North Carolina', 'Georgia', 'Texas',
                 'Michigan', 'Alabama', 'Indiana', 'Arizona', 'Florida']
df_list = []                 
for estado in lista_estados:                 
    df = df_business_yelp[df_business_yelp.address.str.contains(estado)]   
    df_list.append(df)  
df_business_yelp_reducido = pd.concat(df_list)   
df_business_yelp_reducido = df_business_yelp_reducido.reset_index(drop=True)  # Se resetea el indice a uno secuencial y consecutivo

In [138]:
for estado in lista_estados: 
    print(estado, "Esta en: ", df_business_yelp.address.str.contains(estado).sum(), " direcciones")

Tennessee Esta en:  6  direcciones
Ohio Esta en:  44  direcciones
North Carolina Esta en:  0  direcciones
Georgia Esta en:  20  direcciones
Texas Esta en:  2  direcciones
Michigan Esta en:  283  direcciones
Alabama Esta en:  33  direcciones
Indiana Esta en:  75  direcciones
Arizona Esta en:  33  direcciones
Florida Esta en:  379  direcciones

In [135]:
for estado in lista_estados: 
    print(estado, "Esta en: ", df_business_yelp_reducido.address.str.contains(estado).sum(), " direcciones")

Tennessee Esta en:  6  direcciones
Ohio Esta en:  44  direcciones
North Carolina Esta en:  0  direcciones
Georgia Esta en:  20  direcciones
Texas Esta en:  2  direcciones
Michigan Esta en:  283  direcciones
Alabama Esta en:  33  direcciones
Indiana Esta en:  75  direcciones
Arizona Esta en:  33  direcciones
Florida Esta en:  379  direcciones

In [ ]:
directorio = "../Datasets/Datasets_Yelp/user/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "user-reducido_*.parquet")
df_list = []                                    # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                      # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_user = pq.read_table(source=archivo)  # Se crea una tabla con cada archivo
    df = tabla_user.to_pandas()                 # Se transforma la tabla en un dataframe
    df_list.append(df)                          # Se adicionan a los dataframe
df_user_reducido_concatenado = pd.concat(df_list)                                   # Se concatenan todos los DataFrames en uno solo
df_user_reducido_concatenado = df_user_reducido_concatenado.reset_index(drop=True)  # Se resetea el indice a uno secuencial y consecutivo

In [121]:
print(df_business_yelp.shape)
print(df_business_yelp_reducido.shape)

(145216, 14)
(875, 14)

In [118]:
print((df_business_yelp_reducido['address'] == 'Ohio'))

437       False
452       False
1124      False
1359      False
2346      False
          ...
142831    False
142886    False
142911    False
143297    False
144058    False
Name: address, Length: 379, dtype: bool

Se salva el archivo en formato tipo parqet

In [141]:
df_business_yelp.to_parquet('../Datasets/Datasets_Yelp/business/business.parquet')

Se cargan los datasets que contienen grupos de registros ya separados.

In [52]:
directorio = "../Datasets/Datasets_Yelp/business/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "business*.parquet")
df_list = []                                    # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                      # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_user = pq.read_table(source=archivo)  # Se crea una tabla con cada archivo
    df = tabla_user.to_pandas()                 # Se transforma la tabla en un dataframe
    df_list.append(df)                          # Se adicionan a los dataframe
df_business_concatenado = pd.concat(df_list)    # Se concatenan todos los DataFrames en uno solo
df_business_concatenado = df_business_concatenado.reset_index(drop=True)    # Se resetea el indice a uno secuencial y consecutivo

In [45]:
df_business_concatenado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145216 entries, 0 to 145215
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   145216 non-null  object
 1   name          145216 non-null  object
 2   address       145216 non-null  object
 3   city          145216 non-null  object
 4   state         145216 non-null  object
 5   postal_code   145199 non-null  object
 6   latitude      145216 non-null  float64
 7   longitude     145216 non-null  float64
 8   stars         145216 non-null  float64
 9   review_count  145216 non-null  int64
 10  is_open       145216 non-null  int64
 11  attributes    132343 non-null  object
 12  categories    145114 non-null  object
 13  hours         123104 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 15.5+ MB

In [46]:
df_business_concatenado.head(2).T

,0,1
business_id,MTSW4McQd7CbVtyjqoe9mw,mWMc6_wTdE0EUBKIGXDVfA
name,St Honore Pastries,Perkiomen Valley Brewery
address,935 Race St,101 Walnut St
city,Philadelphia,Green Lane
state,CA,MO
postal_code,19107,18054
latitude,39.9555,40.3382
longitude,-75.1556,-75.4717
stars,4,4.5
review_count,80,13
is_open,1,1
attributes,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","{'BusinessAcceptsCreditCards': 'True', 'Wheelc..."
categories,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","Brewpubs, Breweries, Food"
hours,"{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

- - -
+ DataSet de Google Maps !!!
- - -

`Datasets: metadata-sitios`

Tipos de archivos JSon

El directorio metadata-sitios, esta compuesto por un grupo de archivos JSon, cada archivo contiene aproximadamente: 275.001 registros, por lo que se crea un procedimiento que permite crear de forma automatica un archivo parquet para cada uno de los archivos JSon en el directorio.

El siguiente procedimiento lee los datasets original JSon, aproximadamente de 870Mb y lo separa en archivos tipo parquet.

In [ ]:
directorio = "../Datsets/Datasets_Google_Maps/metadata-sitios/"                     # Ruta del directorio con los archivos JSon con la metadata-sitios
archivos_metadatos_sitios = os.listdir(directorio)                                  # Se guarda el listado de los archivos contenidos en el directorio

for archivo in archivos_metadatos_sitios:                                           # Se realiza un ciclo para cada archivo en el directorio
    archivo_metadata_sitios_json = directorio + archivo                             # Se le asigna la ruta y el nombre del archivo.
    with jsonlines.open(archivo_metadata_sitios_json) as reader:                    # Se obtiene el grupo de registros por cada archivo
        lista_datos = list(reader)                                                  # Lee todos los registros y crea una lista
        total_registros = len(lista_datos)                                          # Se tiene el total de registros, esto para separar en varios archivos.
        for ind in range(0, total_registros, total_registros):                      # Se crea un archivo parquet para cada grupo de registors
            iformacion_registros = lista_datos[ind:ind+total_registros]             # Se extrae grupos de cantidad_registros registros
            df = pd.DataFrame(iformacion_registros)                                 # Se crea un dataframe con el grupo de registros extraidos
            table = pa.Table.from_pandas(df)                                        # Se crea una tabla tipo pyarrow del dataframe para guardarlo en archivos separados.
            nombre_archivo = "metadata-sitios_" + archivo[0: archivo.index('.')] + ".parquet"                   # Se arma el nombre del archivo
            ruta_archivo = os.path.join('../Datsets/Datasets_Google_Maps/metadata-sitios/', nombre_archivo)     # La ruta donde se guardara el archivo
            pq.write_table(table, ruta_archivo)                                     # Se crea el archivo con formato parquet en el directorio

Se cargan los datasets que contienen grupos de registros ya separados.

In [3]:
directorio = "../Datasets/Datasets_Google_Maps/metadata-sitios/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "metadata-sitios_*.parquet")
df_list = []                                                          # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                                            # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_sitios = pq.read_table(source=archivo)                      # Se crea una tabla con cada archivo
    df = tabla_sitios.to_pandas()                                     # Se transforma la tabla en un dataframe
    df_list.append(df)                                                # Se adicionan a los dataframe
df_sitios_concatenado = pd.concat(df_list)                            # Se concatenan todos los DataFrames en uno solo
df_sitios_concatenado = df_sitios_concatenado.reset_index(drop=True)  # Se resetea el indice a uno secuencial y consecutivo

Diccionario de datos metada-sitios

| # | Column | Dtype | RealType |
| --------- | --------- | --------- | --------- |
| 0 | user_id | object | string |
| 0 | name | object | string |
| 1 | address | object | string |
| 2 | gmap_id | object | string |
| 3 | description | object | string |
| 4 | latitude | float64 | float64 |
| 5 | longitude | float64 | float64 |
| 6 | category | object | list string |
| 7 | avg_rating | float64 | float64 |
| 8 | num_of_reviews | int64 | float64 | 
| 9 | price | object | float64 $$|
| 10 | hours | object | list time|
| 11 | MISC | object | list string |
| 12 | state | object | string |
| 13 | relative_results | object | list | 
| 14 | url | object | string |

Se trabaja con una copia de los registros

In [6]:
print(df_sitios_concatenado.shape)
df_sitios_concatenado_copia = df_sitios_concatenado.copy()

(3025011, 15)

Se eliminan los registros que no tengan valor en el campo: address, description

In [7]:
df_sitios_concatenado_copia = df_sitios_concatenado_copia[df_sitios_concatenado_copia['address'].notna()]
print("Sin datos None en address: ",df_sitios_concatenado_copia.shape)

Sin datos None en address:  (2944500, 15)

In [44]:
df_sitios_concatenado_copia.head().T

,0,1,2,3,4
name,Porter Pharmacy,City Textile,San Soo Dang,Nova Fabrics,Nobel Textile Co
address,"Porter Pharmacy, 129 N Second St, Cochran, GA ...","City Textile, 3001 E Pico Blvd, Los Angeles, C...","San Soo Dang, 761 S Vermont Ave, Los Angeles, ...","Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...","Nobel Textile Co, 719 E 9th St, Los Angeles, C..."
gmap_id,0x88f16e41928ff687:0x883dad4fd048e8f8,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,0x80c2c778e3b73d33:0xbdc58662a4a97d49,0x80c2c89923b27a41:0x32041559418d447,0x80c2c632f933b073:0xc31785961fe826a6
description,None,None,None,None,None
latitude,32.3883,34.0189,34.0581,34.0237,34.0367
longitude,-83.3571,-118.215,-118.292,-118.233,-118.249
category,[Pharmacy],[Textile exporter],[Korean restaurant],[Fabric store],[Fabric store]
avg_rating,4.9,4.5,4.4,3.3,4.3
num_of_reviews,16,6,18,6,7
price,None,None,None,None,None
hours,"[[Friday, 8AM–6PM], [Saturday, 8AM–12PM], [Sun...",None,"[[Thursday, 6:30AM–6PM], [Friday, 6:30AM–6PM],...","[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...","[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu..."
MISC,{'Accessibility': ['Wheelchair accessible entr...,None,{'Accessibility': ['Wheelchair accessible entr...,"{'Accessibility': None, 'Activities': None, 'A...","{'Accessibility': None, 'Activities': None, 'A..."
state,Open ⋅ Closes 6PM,Open now,Open ⋅ Closes 6PM,Open ⋅ Closes 5PM,Open ⋅ Closes 5PM
relative_results,"[0x88f16e41929435cf:0x5b2532a2885e9ef6, 0x88f1...","[0x80c2c624136ea88b:0xb0315367ed448771, 0x80c2...","[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...","[0x80c2c8811477253f:0x23a8a492df1918f7, 0x80c2...","[0x80c2c62c496083d1:0xdefa11317fe870a1, 0x80c2..."
url,https://www.google.com/maps/place//data=!4m2!3...,https://www.google.com/maps/place//data=!4m2!3...,https://www.google.com/maps/place//data=!4m2!3...,https://www.google.com/maps/place//data=!4m2!3...,https://www.google.com/maps/place//data=!4m2!3...

Para su manipulacion se reduce el dataset a solo los 10 estados a evaluar:<br>
['Tennessee', 'review-Ohio', 'North_Carolina', 'Georgia', 'Texas', 'Michigan', 'Alabama', 'Indiana', 'Arizona', 'Florida']

In [15]:
lista_estados = ['Tennessee', 'Ohio', 'North_Carolina', 'Georgia', 'Texas',
                 'Michigan', 'Alabama', 'Indiana', 'Arizona', 'Florida']

In [31]:
# lista_estados = ['Arizona', 'Florida']
lista_estados = ['Tennessee', 'Ohio', 'North Carolina', 'Georgia', 'Texas',
                 'Michigan', 'Alabama', 'Indiana', 'Arizona', 'Florida']
df_sitios_lista = [] 
for estado in lista_estados:
    df_sitios = df_sitios_concatenado_copia[df_sitios_concatenado_copia.address.str.contains(estado)]
    df_sitios_lista.append(df_sitios)
df_sitios_reducidos = pd.concat(df_sitios_lista)
df_sitios_reducidos = df_sitios_reducidos.reset_index(drop=True)

Se crea un archivo en el directorio metadata-sitios con el dataset reducido en cantidad de registros para 10 estados

In [34]:
table = pa.Table.from_pandas(df_sitios_reducidos)                                # Se crea una tabla tipo pyarrow del dataframe para guardarlo en archivos separados.
nombre_archivo = "metadata-sitios_reducido.parquet"                              # Se arma el nombre del archivo
ruta_archivo = os.path.join('../Datasets/Datasets_Google_Maps/metadata-sitios/', nombre_archivo)  # La ruta donde se guardara el archivo
pq.write_table(table, ruta_archivo)                                              # Se graba en el directorio

Se cargan los datos del metadata-sitios reducidos

In [37]:
archivo = "../Datasets/Datasets_Google_Maps/metadata-sitios/metadata-sitios_reducido.parquet"
tabla_sitios = pq.read_table(source=archivo)                      # Se crea una tabla con cada archivo
df_sitios = tabla_sitios.to_pandas()                              # Se transforma la tabla en un dataframe

In [39]:
df_sitios.head()

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Turkey Creek,"Turkey Creek, Tennessee",0x8864a58f0058d779:0x77f0f0f82ba4920e,None,35.998232,-87.389478,[River],3.8,5,None,None,None,None,None,https://www.google.com/maps/place/Tennessee/da...
1,Shelter Insurance - Nathan Mizer,"Shelter Insurance - Nathan Mizer, 107A W Tenne...",0x885c336f4bd36d55:0x480c0e91ddfd240d,None,36.026326,-84.243362,"[Insurance agency, Auto insurance agency, Home...",4.3,3,None,None,{'Accessibility': ['Wheelchair accessible entr...,None,"[0x885c336fe87d6049:0x12141fa4a69f85f5, 0x885c...",https://www.google.com/maps/place//data=!4m2!3...
2,Flat Creek,"Flat Creek, Tennessee 37878",0x885ea23c1631d3df:0xeb621b8b97f25df6,None,35.673797,-83.894229,[River],5.0,4,None,None,None,None,None,https://www.google.com/maps/place/Tennessee+37...
3,Hurricane Branch,"Hurricane Branch, Tennessee 37882",0x885ea154ea071f21:0x1a1ec761c433c2a7,None,35.677006,-83.857697,[River],5.0,1,None,None,None,None,None,https://www.google.com/maps/place/Tennessee+37...
4,Autism Tennessee,"Autism Tennessee, 2607 Winford Ave, Nashville,...",0x886467cd4482dcff:0x636916ab972b869d,None,36.114866,-86.753344,[Social services organization],5.0,4,None,"[[Thursday, 10AM–3PM], [Friday, 10AM–3PM], [Sa...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 10AM,"[0x8864657265da0d5f:0x8b83c74c7fb3b1a6, 0x8864...",https://www.google.com/maps/place//data=!4m2!3...

- - -
`Datasets: metadata-estados`

Compuesto por un directorio para cada estado y dentro un grupo de archivos tipo JSon

El directorio metadata-estados, esta compuesto por un grupo de directoros, uno por cada estado, y un conjunto de archivos JSon, cada archivo contiene aproximadamente: 150.000 registros, por lo que se crea un procedimiento que permite crear de forma automatica un archivo parquet para cada uno de los archivos JSon en el directorio de cada estado.

In [ ]:
directorio_origen = "../Datsets/Datasets_Google_Maps/reviews-estados/"                  # Debido a la cantidad de directorios y archivos se permitira tener separados los archivos de origen.
directorio_destino = "../Datsets/Datasets_Google_Maps/reviews-estados/"                 # Debido a la cantidad de directorios y archivos se permitira tener separados los archivos de destido.
directorios_reviews_estados = os.listdir(directorio_origen)                             # Se obtiene un listado de todos los subdirectorios del directorio origen.
for sub_dir in directorios_reviews_estados:                                             # Ciclo por cada subdirectorio
    archivos_reviews_estados = os.listdir(directorio_origen + sub_dir)                  # Se guarda el directorio y el subdirectorio a utilizar
    os.mkdir(directorio_destino + sub_dir)                                              # Directorio donde se colocaran los archivos parquet
    for archivo in archivos_reviews_estados:                                            # Ciclo por cada archivo en cada subdirectorio
        archivo_review_estados_json = directorio_origen + sub_dir + '/' + archivo       # Se guarda el directorio origen, el subdirectorio y el nombre del archivo para ser leido.
        with jsonlines.open(archivo_review_estados_json) as reader:                     # Se lee el archivo JSon
            lista_datos = list(reader)                                                  # Lee todos los registros y crea una lista
            total_registros = len(lista_datos)                                          # Se tiene el total de registros, esto para separar en varios archivos.
            for ind in range(0, total_registros, total_registros):                      # Un ciclo para los registros de cada archivo JSon
                iformacion_registros = lista_datos[ind:ind+total_registros]             # Se extrae grupos de cantidad_registros registros
                df = pd.DataFrame(iformacion_registros)                                 # Se crea un dataframe con el grupo de registros extraidos
                table = pa.Table.from_pandas(df)                                        # Se crea una tabla tipo pyarrow del dataframe para guardarlo en archivos separados.
                nombre_archivo = sub_dir + "_" + archivo[0: archivo.index('.')] + ".parquet"   # Se arma el nombre del archivo
                ruta_archivo = os.path.join(directorio_destino + sub_dir, nombre_archivo)      # La ruta donde se guardara el archivo
                pq.write_table(table, ruta_archivo)                                     # Se crea el archivo parquet en el directorio destino

Cargando la informacion de solo un estado

In [43]:
nombre_archivo = 'Texas'
directorio = "../Datasets/Datasets_Google_Maps/reviews-estados/review-" + nombre_archivo + "/"
ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "review-*.parquet")
df_list = []                                                            # Un dataframe vacio para ir adicionando
for archivo in ls_archivo:                                              # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
    tabla_estados = pq.read_table(source=archivo)                       # Se crea una tabla con cada archivo
    df = tabla_estados.to_pandas()                                      # Se transforma la tabla en un dataframe
    df_list.append(df)                                                  # Se adicionan a los dataframe
df_estados_concatenado = pd.concat(df_list)                             # Se concatenan todos los DataFrames en uno solo
df_estados_concatenado['estado'] = nombre_archivo
df_estados_concatenado = df_estados_concatenado.reset_index(drop=True)  # Se resetea el indice a uno secuencial y consecutivo
archivo_estado_csv = directorio + 'review-' + nombre_archivo + ".csv"
df_estados_concatenado.to_csv(archivo_estado_csv, index=False)

In [51]:
archivo_estado_csv = "../Datasets/Datasets_Google_Maps/reviews-estados/review-North_Carolina/review-North_Carolina.csv"
df = pd.read_csv(archivo_estado_csv)
df.shape

(2250000, 9)

Cargando la informacion de todos los estados

In [7]:
directorio_origen = "../Datasets/Datasets_Google_Maps/reviews-estados/"    # Debido a la cantidad de directorios y archivos se permitira tener separados los archivos de origen.
directorios_reviews_estados = os.listdir(directorio_origen)                # Se obtiene un listado de todos los subdirectorios del directorio origen.
for sub_dir in directorios_reviews_estados:                                # Ciclo por cada subdirectorio
    nombre_archivo = sub_dir.replace("review-", '')
    archivos_reviews_estados = os.listdir(directorio_origen + sub_dir)     # Se guarda el directorio y el subdirectorio a utilizar
    directorio = directorio_origen + sub_dir + "/"
    ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "*.parquet")
    df_list = []                                                            # Un dataframe vacio para ir adicionando
    for archivo in ls_archivo:                                              # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
        # print(directorio, nombre_archivo)
        # print(ls_archivo)
        tabla_estados = pq.read_table(source=archivo)                       # Se crea una tabla con cada archivo
        df = tabla_estados.to_pandas()                                      # Se transforma la tabla en un dataframe
        # df['estado'] = nombre_archivo
        df_list.append(df)                                                  # Se adicionan a los dataframe
    df_estados_concatenado = pd.concat(df_list)                             # Se concatenan todos los DataFrames en uno solo
    df['estado'] = nombre_archivo
df_estados_concatenado = df_estados_concatenado.reset_index(drop=True)      # Se resetea el indice a uno secuencial y consecutivo

In [45]:
directorio_origen = "../Datasets/Datasets_Google_Maps/reviews-estados/"    # Debido a la cantidad de directorios y archivos se permitira tener separados los archivos de origen.
directorios_reviews_estados = os.listdir(directorio_origen)                # Se obtiene un listado de todos los subdirectorios del directorio origen.
for sub_dir in directorios_reviews_estados:                                # Ciclo por cada subdirectorio
    nombre_archivo = sub_dir.replace("review-", '')
    archivos_reviews_estados = os.listdir(directorio_origen + sub_dir)     # Se guarda el directorio y el subdirectorio a utilizar
    directorio = directorio_origen + sub_dir + "/"
    ls_archivo = listar_archivos_segun_patron_con_directorio(directorio, "*.csv")
    df_list = []                                                            # Un dataframe vacio para ir adicionando
    for archivo in ls_archivo:                                              # Leer cada archivo parquet en un DataFrame de Pandas y adicionarlo
        df = pd.read_csv(archivo)
        df_list.append(df)                                                  # Se adicionan a los dataframe
    df_estados_concatenado = pd.concat(df_list)                             # Se concatenan todos los DataFrames en uno solo
df_estados_concatenado = df_estados_concatenado.reset_index(drop=True)      # Se resetea el indice a uno secuencial y consecutivo

In [50]:
df_estados_concatenado.shape

(2850000, 9)

In [49]:
df_estados_concatenado.tail(20).T

,2849980,2849981,2849982,2849983,2849984,2849985,2849986,2849987,2849988,2849989,2849990,2849991,2849992,2849993,2849994,2849995,2849996,2849997,2849998,2849999
user_id,116027333961946450036,101682319947243887670,114076018014845789116,116410452070326430922,113346740550680886125,112172420842429498318,103423168954627189806,115332274602197044834,104445444863675602185,112970752410215005542,111541954676733314084,101455115901962250159,117050501385090268935,116209957654170876138,104864780221475782836,113432710667574630477,114437354870659097984,110393435648440523598,103517617368795862805,103232669323935534602
name,Google Me,Chandrally Mahajan,Cynthia Hild,Chun Chun,Mary Whitley,raymond cribbs,Bonnie Martin,Leslie Nugent,Jackie Strickland,Greg Wainwright,FlipTheSwitch (FlipTheSwitch),Susan Dugger,Steve Brooks,sherry malovich,Gary Peterson,Ricky Rice,John Davis,Georgia Mcfadden,Freddie Davis,Autumn Bozarth
time,1412308477217,1574728423657,1588809149105,1574728154852,1616522076274,1607454563101,1617391403010,1579124844264,1584470569359,1578174179270,1530637403425,1499618592061,1520484245437,1581576060516,1561087785711,1544911047205,1543609738956,1538099584340,1520106492564,1625153702009
rating,5,5,5,5,5,5,5,5,4,4,5,5,5,4,4,4,5,5,5,4
text,NaN,NaN,NaN,NaN,They are miracle workers! I let my sister colo...,Tanning. 5-Stars! Extremely helpful and unders...,Hydro bed is the @#%$,Great place for hair 💇 nails 💅 and tanning! Gr...,LuAnn listens to what you want and then does i...,The stylist are very nice and did an amazing j...,"Always great, good prices and offers nails enh...",Love Luanne she always does an awesome job on ...,"Quick, friendly service. Very homey.",Nails look great.,Wish she stop having to move,Very professional.,Great service,Give great hair cuts and styling,Great place / Good work,They definitely know what they are doing. My d...
pics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[{'url': array(['https://lh5.googleusercontent...
resp,"{'text': 'Thank you for 5 Stars review.', 'tim...",{'text': 'Thanks for 5 Star Review. We are her...,"{'text': ""We treat all of our patient's as Sta...",{'text': 'Sincere Thanks and really appreciate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'text': 'Thank you! My pleasure', 'time': 154...",NaN,NaN,NaN,{'text': 'I am sorry if you feel you received ...
gmap_id,0x88d9aaf5e68c3d11:0x6dded03ffc9a0caa,0x88d9aaf5e68c3d11:0x6dded03ffc9a0caa,0x88d9aaf5e68c3d11:0x6dded03ffc9a0caa,0x88d9aaf5e68c3d11:0x6dded03ffc9a0caa,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d,0x88e61aa5df038465:0x580976b6e9c5313d
estado,Florida,Florida,Florida,Florida,Florida,Florida,Florida,Florida,Florida,Florida,Florida,Florida,Florida,Florida,Florida,Florida,Florida,Florida,Florida,Florida

- - -